@import "common-components/normalize";
@import "common-components/animations";

$main-color: blue;
$text-color: #121212;

body {
	font-size: 14px;
	font-family: "Roboto Slab", sans-serif;
	line-height: 1.3;
	color: $text-color;
	@media (min-width: 992px) {
		font-size: 16px;
	}
	@media (min-width: 1200px) {
		font-size: 18px;
	}
}

strong {
	font-weight: bold;
}
.color {
	color: $main-color;
}
.h1 {
	font-size: 50px;
	font-weight: 900;
	margin: 1em 0;
}
.h2 {
	font-size: 40px;
}
.h3 {
	font-size: 30px;
	margin: 0 1em;
}
.sep {
	width: 70px;
	height: 2px;
	background: $text-color;
	margin: 1em 0;
}
.strong {
	font-weight: bold;
}
.container {
	padding: 0 calc(50% - 15px);
	display: flex;
	flex-wrap: wrap;
	@media (min-width: 575px) {
		padding: 0 calc(50% - 250px);
	}
	@media (min-width: 768px) {
		padding: 0 calc(50% - 380px);
	}
	@media (min-width: 992px) {
		padding: 0 calc(50% - 480px);
	}
	@media (min-width: 1200px) {
		padding: 0 calc(50% - 582px);
	}
}

.col-6 {
	width: 50%;
}

.main {
	&__container {
		justify-content: space-between;
		align-items: center;
	}
	&__title {
		width: 60%;
	}
	&__content {
		width: 30%;
	}
}

.fp-controlArrow {
	display: none;
}
.fp-slidesNav {
	ul {
		counter-reset: steps;
		li {
			counter-increment: steps;
			position: absolute;
			top: 0;
			left: 0;
			a {
				span {
					content: counter(steps);
					background: transparent;
					border: none;
					width: 30px;
					height: 30px;
					line-height: 30px;
					&:before {
						content: counter(steps);
						font-size: 18px;
						font-weight: bold;
						color: transparent;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						text-align: center;
						line-height: inherit;
					}
				}
				&.active {
					span {
						background: $main-color;
						&:before {
							content: counter(steps);
							font-size: 18px;
							color: #fff;
						}
					}
				}
			}
		}
	}
}

.steps {
	&__container {
		height: 50%;
		padding-top: 100px;
	}
	&__image {
		height: 50%;
		overflow: hidden;
		position: relative;
	}
	&__clip {
		width: 120%;
		height: 100%;
		position: absolute;
		top: 0;
		left: -10%;
		border-radius: 50% 50% 0 0;
		overflow: hidden;
	}
	&__slide {
		text-align: center;
	}
}
.halfimage {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	right: 0;
	bottom: 0;
	&__clip {
		border-radius: 50% 0 0 50%;
		width: 100%;
		height: 126%;
		overflow: hidden;
		top: -13%;
		right: -25%;
		position: absolute;
	}
	&__img {
		width: 100%;
		height: 80%;
		object-fit: cover;
		object-position: right;
		position: absolute;
		right: 25%;
		top: 10%;
	}
	svg {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
	}
}
