@import url(../libs/fullpage.css);
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  background: transparent;
  border: none;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input {
  border: none;
  line-height: normal;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

blockquote {
  margin: 0;
}

@-webkit-keyframes sliderContentHide {
  from {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes sliderContentHide {
  from {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@-webkit-keyframes sliderContentShow {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes sliderContentShow {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@-webkit-keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}

@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: center;
    transform-origin: center;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: center;
    transform-origin: center;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*breakpoints*/
body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3;
  color: #000000;
}

@media (min-width: 992px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 19px;
  }
}

strong {
  font-weight: bold;
}

.color {
  color: #00aeef;
}

.bg-blue {
  background-color: #00aeef;
  color: #fff;
}

.h1 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 1.2;
  margin: 0;
}

@media (min-width: 1600px) {
  .h1 {
    font-size: 80px;
  }
}

.h2 {
  font-size: 60px;
}

.h3 {
  margin: 0 1em;
  font-family: Merriweather;
  font-style: normal;
  font-weight: 900;
  font-size: 62px;
  line-height: 1.2;
  text-align: center;
}

.sep {
  width: 118px;
  height: 2px;
  background: #000000;
  margin: 1em 0;
}

.sep--white {
  background: #fff;
}

.strong {
  font-weight: bold;
}

.container {
  padding: 0 calc(50% - 15px);
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 576px) {
  .container {
    padding: 0 calc(50% - 250px);
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 calc(50% - 380px);
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 calc(50% - 480px);
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 calc(50% - 582px);
  }
}

@media (min-width: 1600px) {
  .container {
    padding: 0 calc(50% - 785px);
  }
}

.col-6 {
  width: 50%;
}

.slide {
  position: relative;
}

.eating .slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100% !important;
}

.eating-wrapper .sep {
  margin: 60px 0;
}

.eating-wrapper .col-6 {
  max-width: 630px;
}

.training .h2 {
  max-width: 350px;
  font-size: 80px;
  margin: 50px 0;
  line-height: 1.2em;
}

.training .col-6 {
  max-width: 540px;
}

.training .sep {
  margin: 60px 0;
}

.smoking .h2 {
  max-width: 613px;
  margin: 50px 0;
  line-height: 1.16em;
}

.smoking .sep {
  margin: 60px 0;
}

.smoking .col-6 {
  max-width: 750px;
}

.smoking p:last-child {
  max-width: 420px;
}

.eating .fp-slidesContainer {
  max-width: 100%;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.eating .fp-slidesNav {
  display: none;
}

.anim_translate {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 0.5s transform 0 0.5s;
}

.section.active .slide.active .anim_translate {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  transition: all 1.5s;
}

.section.active .slide.active .anim_translate_2 {
  transition: all 1.5s 0.5s;
}

.section.active .slide.active .anim_translate_3 {
  transition: all 1.5s 1s;
}

.halfimage {
  opacity: 0;
  transition: all 1.5s;
}

.section.active .slide.active .halfimage {
  opacity: 1;
  transition: all 1.5s;
}

.header {
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  justify-content: space-between;
}

.header__logo {
  width: 10.9%;
}

.header__logo svg {
  max-width: 100%;
  max-height: 100%;
}

.header__panel {
  display: flex;
  align-items: center;
}

.panel__btn {
  color: #005da3;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  display: inline-flex;
  align-items: center;
}

.panel__btn + .panel__btn {
  margin-left: 100px;
}

.panel__icon {
  margin-right: 15px;
}

.main__container {
  justify-content: space-between;
  padding-top: 50px;
}

.main__title {
  width: 54%;
  position: relative;
  padding: 1em 0;
}

.main__content {
  width: 45%;
}

.main__bg {
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main__bg svg {
  width: 100%;
  height: 100%;
}

.main__content {
  font-size: 24px;
  line-height: 1.48;
}

@media (min-width: 1600px) {
  .main__content {
    font-size: 27px;
  }
}

.fp-controlArrow {
  display: none;
}

.fp-slidesNav {
  top: -105px;
  position: absolute;
  z-index: 4;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0 !important;
  right: 0;
  margin: 0 auto !important;
  transition: all 1s;
}

.fp-slidesNav_active {
  top: 17px;
}

.fp-slidesNav_active:before {
  content: "";
  border-top: 3px solid #6dcff6;
  height: 300px;
  display: block;
  position: fixed;
  top: 50%;
  right: 0;
  left: -15%;
  width: 130%;
  border-radius: 86%;
  z-index: -2;
}

.fp-slidesNav_active:after {
  content: "";
  height: 100px;
  display: block;
  position: fixed;
  top: 50%;
  right: 0;
  left: 0;
  width: 100%;
  -webkit-animation: arc 1s linear;
  animation: arc 1s linear;
  z-index: -1;
  background-color: #fff;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes arc {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes arc {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.fp-slidesNav ul {
  counter-reset: steps;
  width: 80px;
  height: 80px;
  line-height: 74px;
  font-size: 50px;
  font-family: Merriweather;
  margin: 0 auto;
  position: relative;
  padding: 0;
  list-style: none;
}

.fp-slidesNav ul:after {
  content: "";
  border-radius: 50%;
  border: 3px solid #6dcff6;
  -webkit-clip-path: polygon(0 0, 43% 0, 91% 100%, 0% 100%);
  clip-path: polygon(0 0, 43% 0, 91% 100%, 0% 100%);
  width: 140%;
  height: 140%;
  display: block;
  position: absolute;
  top: -20%;
  left: -20%;
  -webkit-animation: rotate 3s linear infinite;
  animation: rotate 3s linear infinite;
}

.fp-slidesNav ul:before {
  content: "";
  width: 140%;
  height: 140%;
  display: block;
  position: absolute;
  top: -20%;
  left: -20%;
  background-color: #fff;
}

.fp-slidesNav li {
  counter-increment: steps;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fp-slidesNav a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: default;
  pointer-events: none;
}

.fp-slidesNav span {
  content: counter(steps);
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.fp-slidesNav span:before {
  content: counter(steps);
  font-weight: bold;
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: inherit;
}

.fp-slidesNav a.active span {
  background: #6dcff6;
}

.fp-slidesNav a.active span:before {
  content: counter(steps);
  color: #fff;
}

.steps {
  position: relative;
}

.steps__container {
  height: 50%;
  padding-top: 18vh;
}

@media (min-width: 1600px) {
  .steps__container {
    padding-top: 20vh;
  }
}

.steps__image {
  height: 50%;
  overflow: hidden;
  position: relative;
}

.steps__clip {
  width: 120%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -10%;
  border-radius: 50% 50% 0 0;
  overflow: hidden;
}

.steps__slide {
  text-align: center;
}

.steps__text {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 1.36;
  text-align: center;
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
}

.steps .arc {
  position: absolute;
  left: 0;
  right: 0;
}

.halfimage {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  right: 0;
  bottom: 0;
}

.halfimage .white-circle {
  position: absolute;
  top: calc(10% + 51px);
  left: -30%;
  border-radius: 50%;
  background-color: white;
  width: 500px;
  height: 500px;
}

.halfimage__clip {
  -webkit-clip-path: ellipse(99% 70% at 100% 50%);
  clip-path: ellipse(99% 70% at 100% 50%);
  width: 100%;
  height: 126%;
  overflow: hidden;
  top: -13%;
  left: 25%;
  position: absolute;
}

.halfimage__circle {
  width: 500px;
  height: 500px;
  position: absolute;
  left: -5%;
  overflow: hidden;
  margin-top: 48px;
  z-index: -5;
}

.halfimage__circle img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right;
  object-position: right;
}

.halfimage .circle {
  border-radius: 50%;
}

.halfimage__img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left;
  object-position: left;
  position: absolute;
  right: 25%;
  top: 10%;
}

.halfimage svg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.halfimage--second {
  left: 40%;
}

.halfimage--second .circle {
  left: 3%;
}

.halfimage--second .white-circle {
  left: -22%;
}

.article__text {
  font-size: 19px;
}

.article__text--big {
  font-size: 39px;
}

@media screen and (max-width: 1600px) {
  .article__text--big {
    font-size: 28px;
  }
}

.inheritance {
  background: #002668;
  color: #fff;
  z-index: 100;
}

.inheritance__h2 {
  max-width: 500px;
}

.inheritance-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.inheritance-wrapper .container {
  padding-top: 120px;
  padding-bottom: 60px;
  min-height: 100vh;
}

@media screen and (max-height: 780px) {
  .inheritance-wrapper .container {
    padding-top: 60px;
  }
}

.inheritance-wrapper .container .color {
  position: relative;
}

.inheritance-wrapper .container .color .star {
  color: #00aeef;
  position: absolute;
  top: 0;
  left: -35px;
}

.inheritance-wrapper .sep {
  margin-top: 15vh;
}

.inheritance-wrapper .article__text:last-child {
  margin: 38px 0 0 0;
}

.inheritance .circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: 0.1s all;
}

.inheritance .circle__text {
  max-width: 369px;
  font-size: 48px;
  color: #ffffff;
  margin-left: 70px;
  line-height: 1.2;
}

.inheritance .circle__text--big {
  font-weight: 600;
  font-size: 170px;
  line-height: 1.3em;
}

.inheritance .circle__text--big sub {
  font-size: 50%;
  bottom: 0;
}

.inheritance__circle {
  width: 600px;
  height: 600px;
  background: linear-gradient(45deg, #002e8f 14.64%, #007de0 85.36%);
  position: absolute;
  bottom: -400px;
  left: 3%;
}

@-webkit-keyframes inheritance-anim {
  0% {
    -webkit-clip-path: circle(0 at calc(47.5% + 250px) 298px);
    clip-path: circle(0 at calc(47.5% + 250px) 298px);
  }
  100% {
    -webkit-clip-path: circle(100vmax at calc(47.5% + 250px) 298px);
    clip-path: circle(100vmax at calc(47.5% + 250px) 298px);
  }
}

@keyframes inheritance-anim {
  0% {
    -webkit-clip-path: circle(0 at calc(47.5% + 250px) 298px);
    clip-path: circle(0 at calc(47.5% + 250px) 298px);
  }
  100% {
    -webkit-clip-path: circle(100vmax at calc(47.5% + 250px) 298px);
    clip-path: circle(100vmax at calc(47.5% + 250px) 298px);
  }
}

.inheritance_transition {
  top: -100%;
  -webkit-animation: inheritance-anim 1s ease-in;
  animation: inheritance-anim 1s ease-in;
}

.inheritance_transition-reverse {
  top: -100%;
  animation: inheritance-anim 1s ease-in reverse;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu__item {
  font-size: 27px;
  line-height: 1.2;
  margin-bottom: 1em;
}

.menu__link {
  transition: all 0.5s;
}

.menu__link:hover {
  font-weight: bold;
}

.social__path:hover {
  fill: #3397e6;
}

.royal {
  cursor: pointer;
}

.royal:hover path {
  fill: #337db5;
}

.author__link:hover {
  text-decoration: underline;
}

.footer {
  background: #6dcff6;
  color: #005da3;
  overflow: hidden;
  min-height: calc(100vh - 250px);
  display: flex;
  align-items: center;
}

.footer .container {
  width: 100%;
}

.footer__bottom {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__menu {
  width: 50%;
  margin-left: auto;
}

.footer__panel {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
}

@media (min-width: 1600px) {
  .footer__panel {
    font-size: 18px;
  }
}

.footer__logo {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 40px;
  margin-bottom: -50px;
  margin-left: -40px;
  display: block;
  padding: 20px;
  flex-shrink: 0;
}

@media (min-width: 1600px) {
  .footer__logo {
    width: 196px;
    height: 196px;
    padding: 30px;
  }
}

.social {
  display: flex;
}

.social__link {
  margin-right: 20px;
  display: block;
}

.copyright {
  font-size: 12px;
}

@media (min-width: 1600px) {
  .copyright {
    font-size: 18px;
  }
}

.author {
  font-size: 12px;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

@media (min-width: 1600px) {
  .author {
    font-size: 14px;
  }
}

.author__icon {
  margin-left: 10px;
  width: 70px;
}

@media (min-width: 1600px) {
  .author__icon {
    margin-left: 20px;
  }
}

.author__icon svg {
  max-width: 100%;
}

.main__svg path:nth-child(5),
.main__svg path:nth-child(7),
.main__svg path:nth-child(9),
.main__svg path:nth-child(17),
.main__svg path:nth-child(19),
.main__svg path:nth-child(21),
.main__svg path:nth-child(23),
.main__svg path:nth-child(1) {
  -webkit-animation: 1.5s linear 1s infinite alternate translateLeft;
  animation: 1.5s linear 1s infinite alternate translateLeft;
}

.main__svg path:nth-child(4),
.main__svg path:nth-child(6),
.main__svg path:nth-child(8),
.main__svg path:nth-child(18),
.main__svg path:nth-child(20),
.main__svg path:nth-child(22),
.main__svg path:nth-child(3),
.main__svg path:nth-child(2) {
  -webkit-animation: 1.5s linear 1s infinite alternate translateRight;
  animation: 1.5s linear 1s infinite alternate translateRight;
}

.main__svg path:nth-child(10),
.main__svg path:nth-child(12),
.main__svg path:nth-child(14),
.main__svg path:nth-child(16),
.main__svg path:nth-child(24),
.main__svg path:nth-child(26),
.main__svg path:nth-child(28) {
  -webkit-animation: 1.5s linear 1s infinite alternate translateTop;
  animation: 1.5s linear 1s infinite alternate translateTop;
}

.main__svg path:nth-child(11),
.main__svg path:nth-child(13),
.main__svg path:nth-child(15),
.main__svg path:nth-child(8),
.main__svg path:nth-child(25),
.main__svg path:nth-child(27) {
  -webkit-animation: 1.5s linear 1s infinite alternate translateBottom;
  animation: 1.5s linear 1s infinite alternate translateBottom;
}

.main__title:hover path {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

@-webkit-keyframes translateLeft {
  0% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  100% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
}

@keyframes translateLeft {
  0% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  100% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
}

@-webkit-keyframes translateRight {
  0% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  100% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@keyframes translateRight {
  0% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  100% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@-webkit-keyframes translateTop {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes translateTop {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@-webkit-keyframes translateBottom {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes translateBottom {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
