html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  background: transparent;
  border: none;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input {
  border: none;
  line-height: normal;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

blockquote {
  margin: 0;
}

@-webkit-keyframes sliderContentHide {
  from {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes sliderContentHide {
  from {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@-webkit-keyframes sliderContentShow {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes sliderContentShow {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@-webkit-keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}

@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}

body {
  font-size: 14px;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.3;
  color: #121212;
}

@media (min-width: 992px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

strong {
  font-weight: bold;
}

.color {
  color: blue;
}

.h1 {
  font-size: 50px;
  font-weight: 900;
  margin: 1em 0;
}

.h2 {
  font-size: 40px;
}

.h3 {
  font-size: 30px;
  margin: 0 1em;
}

.sep {
  width: 70px;
  height: 2px;
  background: #121212;
  margin: 1em 0;
}

.strong {
  font-weight: bold;
}

.container {
  padding: 0 calc(50% - 15px);
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 575px) {
  .container {
    padding: 0 calc(50% - 250px);
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 calc(50% - 380px);
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 calc(50% - 480px);
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 calc(50% - 582px);
  }
}

.col-6 {
  width: 50%;
}

.main__container {
  justify-content: space-between;
  align-items: center;
}

.main__title {
  width: 60%;
}

.main__content {
  width: 30%;
}

.fp-controlArrow {
  display: none;
}

.fp-slidesNav ul {
  counter-reset: steps;
}

.fp-slidesNav ul li {
  counter-increment: steps;
  position: absolute;
  top: 0;
  left: 0;
}

.fp-slidesNav ul li a span {
  content: counter(steps);
  background: transparent;
  border: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.fp-slidesNav ul li a span:before {
  content: counter(steps);
  font-size: 18px;
  font-weight: bold;
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: inherit;
}

.fp-slidesNav ul li a.active span {
  background: blue;
}

.fp-slidesNav ul li a.active span:before {
  content: counter(steps);
  font-size: 18px;
  color: #fff;
}

.steps__container {
  height: 50%;
  padding-top: 100px;
}

.steps__image {
  height: 50%;
  overflow: hidden;
  position: relative;
}

.steps__clip {
  width: 120%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -10%;
  border-radius: 50% 50% 0 0;
  overflow: hidden;
}

.steps__slide {
  text-align: center;
}

.halfimage {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  right: 0;
  bottom: 0;
}

.halfimage__clip {
  border-radius: 50% 0 0 50%;
  width: 100%;
  height: 126%;
  overflow: hidden;
  top: -13%;
  right: -25%;
  position: absolute;
}

.halfimage__img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right;
  object-position: right;
  position: absolute;
  right: 25%;
  top: 10%;
}

.halfimage svg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
