@charset "UTF-8";
@import url(../libs/fullpage.css);
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  background: transparent;
  border: none;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input {
  border: none;
  line-height: normal;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

blockquote {
  margin: 0;
}

/*breakpoints*/
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather/Merriweather-Black.woff2") format("woff2"), url("../fonts/Merriweather/Merriweather-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather/Merriweather-Bold.woff") format("woff"), url("../fonts/Merriweather/Merriweather-Bold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 14px;
}

@media (min-width: 992px) and (min-height: 600px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1200px) and (min-height: 768px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 1400px) and (min-height: 860px) {
  html {
    font-size: 19px;
  }
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.68;
  color: #000000;
}

@media (min-width: 992px) and (min-height: 600px) {
  body {
    font-size: calc(0.38vw + 7px);
  }
}

@media (min-width: 1200px) and (min-height: 768px) {
  body {
    font-size: calc(0.68vw + 3px);
  }
}

@media (min-width: 1400px) and (min-height: 860px) {
  body {
    font-size: 1vw;
  }
}

.color {
  color: #007de0;
}

.light {
  color: #fff;
}

.bg-dark {
  background: #000;
  color: #fff;
}

.bg-wight {
  background-color: #fff;
  color: #000000;
}

.bg-main {
  background-color: #002668;
  color: #fff;
}

.h1 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 4.3em;
  letter-spacing: 0.015em;
  line-height: 1.2;
  margin: 0;
  margin-top: 0.3em;
  margin-bottom: 0.2em;
}

.h2 {
  font-family: "Merriweather", serif;
  font-size: 3.2em;
  font-weight: 900;
  line-height: 1.2;
  margin: 0.5em 0 0.7em;
}

@media (min-width: 1200px) and (min-height: 768px) {
  .h2 {
    margin: 0.5em 0 0.85em;
  }
}

.h3 {
  margin: 0.8em 0 1em;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 3.18em;
  line-height: 1.2;
  text-align: center;
}

.strong {
  font-weight: 600;
}

.normal {
  font-weight: 400;
}

p {
  font-size: 1rem;
}

.text_md {
  font-size: 1.421em;
}

.text_lg {
  font-size: 1.876em;
  line-height: 1.7;
}

.text_xl {
  font-size: 2.5em;
  line-height: 1.667;
}

.text_xxl {
  font-size: 3.075em;
  font-weight: 900;
  line-height: 70px;
  line-height: 1.2;
  font-family: "Merriweather", serif;
  letter-spacing: 0.025em;
}

@media (min-width: 1400px) and (min-height: 860px) {
  .text_xxl {
    font-size: 3.07em;
  }
}

.overflow_hidden {
  overflow: hidden;
}

/*======= grid style =========*/
.container {
  padding: 0 calc(50% - 15px);
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

@media (min-width: 576px) {
  .container {
    padding: 0 calc(50% - 250px);
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 calc(50% - 380px);
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 calc(50% - 480px);
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 calc(3.3vw + 30px) 0 calc(6.4vw + 30px);
  }
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.667%;
}

.col-10 {
  width: 83.333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.667%;
}

.col-7 {
  width: 58.333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.667%;
}

.col-4 {
  width: 33.33333%;
}

.col-3 {
  width: 25%;
}

.pr-4 {
  padding-right: 2em;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-4 {
  margin-top: 2em;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-2 {
  margin-bottom: 0.95em;
}

.mb-4 {
  margin-bottom: 2em;
}

.mb-5 {
  margin-bottom: 3em;
}

.mb-6 {
  margin-bottom: 60px;
}

.ml-auto {
  margin-left: auto;
}

.section_center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*-------- end grid style --------*/
/*======= header style =========*/
.header {
  padding-top: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999999;
}

.header__container {
  justify-content: space-between;
  align-items: end;
}

.header__logo {
  width: 7.85%;
  min-width: 70px;
}

.header__logo svg {
  max-width: 100%;
  max-height: 100%;
}

.header__panel {
  display: flex;
  align-items: center;
  margin-top: -1px;
}

@-webkit-keyframes menuAnim {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes menuAnim {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@-webkit-keyframes searchAnim {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes searchAnim {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.panel__btn {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  display: inline-flex;
  align-items: center;
}

.panel__btn .anim_elem {
  transition: -webkit-transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out, -webkit-transform 0.9s ease-in-out;
}

.panel__btn_menu .iconMenu_circle.anim_active {
  -webkit-animation: menuAnim 1.8s ease-in-out infinite;
  animation: menuAnim 1.8s ease-in-out infinite;
}

.panel__btn_search .panel__icon.anim_active {
  -webkit-animation: searchAnim 1.8s ease-in-out infinite;
  animation: searchAnim 1.8s ease-in-out infinite;
}

.panel__btn:focus {
  outline: none;
}

.panel__btn:focus .panel__icon {
  fill: #00adee;
}

.panel__btn + .panel__btn {
  margin-left: 93px;
}

.panel__icon {
  margin-right: 15px;
  fill: #007de0;
  transition: all 0.9s;
}

/*------ end header style ------*/
@-webkit-keyframes rorete {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes rorete {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.message {
  overflow: hidden;
}

.message_start {
  -webkit-transform: none !important;
  transform: none !important;
}

.message__text {
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  height: 100%;
  display: block;
  font-size: 55px;
  font-family: "Merriweather", serif;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.message__svg {
  width: 100%;
  height: 100%;
}

.message_start .message__svg {
  -webkit-animation: rorete 9s 8.85s linear infinite;
  animation: rorete 9s 8.85s linear infinite;
}

.message__composition {
  position: absolute;
  width: 110%;
  height: 120%;
  top: -14%;
  left: -5%;
  visibility: hidden;
  z-index: -1;
}

.message_start .message__composition {
  left: -30%;
  transition: left 1.5s 9.3s;
}

.message__content {
  width: 50%;
  margin-left: auto;
  opacity: 0;
}

.message_start .message__content {
  opacity: 1;
  transition: all 4s 10s;
}

.message__finish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: calc(7.3vw + 30px);
  position: absolute;
  padding-bottom: 3em;
}

.message__finish p {
  opacity: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.message_start .polyp {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: -webkit-transform 1s ease-in-out 8s;
  transition: transform 1s ease-in-out 8s;
  transition: transform 1s ease-in-out 8s, -webkit-transform 1s ease-in-out 8s;
}

.message_end .message__composition {
  z-index: 2;
}

.message_end .polyp {
  font-size: 25.5vw;
  transition: font-size 4s ease-in-out;
}

.message_end .polyp__timer svg {
  opacity: 1;
  stroke-dasharray: 0 160;
  transition: opacity 0.4s, stroke-dasharray 4s 0.1s linear;
}

.message_end #polyp2 {
  font-size: 300vw;
  -webkit-transform: scale(7.2);
  transform: scale(7.2);
  transition: all 4s linear 5.5s;
}

.message_end .message__finish p {
  z-index: 3;
  opacity: 1;
  transition: opacity 2s 9.2s ease-in-out;
}

.message_end .message__finish p:nth-child(2) {
  transition-delay: 10.8s;
}

.message_end .message__finish p:nth-child(3) {
  transition-delay: 12.4s;
}

#polyp2 {
  font-size: 25.5vw;
  -webkit-animation: none;
  animation: none;
  z-index: 5;
  -webkit-transform-origin: 48.4% 72%;
  transform-origin: 48.4% 72%;
}

.polyp {
  font-size: 9vw;
  line-height: 1;
  width: 0.9em;
  height: 0.9em;
  margin: -0.45em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: center;
  transform-origin: center;
  transition: all 0s 0s;
}

.polyp__timer {
  width: 28%;
  height: 74%;
  margin: -14%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.polyp__timer svg {
  stroke: #007de0;
  fill: transparent;
  stroke-dashoffset: 0;
  stroke-dasharray: 160 160;
  -webkit-animation: none;
  animation: none;
  opacity: 0;
}

.last {
  background: #fff;
}

.last__container {
  padding-top: 7.7em;
  padding-bottom: 6.5em;
}

.last__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.last__text .text_md {
  line-height: 2.24;
  margin-top: 1.45em;
}

.last__circle {
  position: absolute;
  top: -7.5vw;
  left: 5%;
  width: 38vw;
  height: 38vw;
}

.last_color_md {
  color: #00aeef;
  font-family: "Merriweather", serif;
  font-weight: 900;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list__title {
  font-size: 2.035em;
  line-height: 1.3;
  font-weight: bold;
}

.list__item {
  margin-bottom: 0.9em;
  padding-left: 2em;
  position: relative;
  line-height: 1.45;
}

.list__item:before {
  content: "—";
  position: absolute;
  left: 0;
  top: -0.07em;
}

.list_maincolor .list__item {
  color: white;
}

.list_maincolor .list__item:before {
  color: #007de0;
}

.colorline:after {
  content: "";
  width: 100vw;
  height: 0.4em;
  position: absolute;
  bottom: -0.08em;
  left: 0;
  background: #00e9fa;
  z-index: -1;
}

.circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s all;
  background: linear-gradient(45deg, #002e8f 14.64%, #007de0 85.36%);
}

.circle__text {
  max-width: 68%;
  font-size: 4em;
  color: #ffffff;
  line-height: 1.25;
  padding: 38px 0;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 900;
}

@-webkit-keyframes inheritance-anim {
  0% {
    -webkit-clip-path: circle(0 at calc(47.5% + 250px) 298px);
    clip-path: circle(0 at calc(47.5% + 250px) 298px);
  }
  100% {
    -webkit-clip-path: circle(100vmax at calc(47.5% + 250px) 298px);
    clip-path: circle(100vmax at calc(47.5% + 250px) 298px);
  }
}

@keyframes inheritance-anim {
  0% {
    -webkit-clip-path: circle(0 at calc(47.5% + 250px) 298px);
    clip-path: circle(0 at calc(47.5% + 250px) 298px);
  }
  100% {
    -webkit-clip-path: circle(100vmax at calc(47.5% + 250px) 298px);
    clip-path: circle(100vmax at calc(47.5% + 250px) 298px);
  }
}

.inheritance_transition {
  top: -100%;
  -webkit-animation: inheritance-anim 1s ease-in;
  animation: inheritance-anim 1s ease-in;
}

.inheritance_transition-reverse {
  top: -100%;
  animation: inheritance-anim 1s ease-in reverse;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu__item {
  font-size: 27px;
  line-height: 1.2;
  margin-bottom: 1em;
}

.menu__link {
  transition: all 0.3s;
}

.menu__link:hover, .menu__link_active {
  font-weight: bold;
}

.social__path:hover {
  fill: #3397e6;
}

.royal {
  cursor: pointer;
}

.royal:hover path {
  fill: #337db5;
}

.author__link:hover {
  text-decoration: underline;
}

.footer {
  background: #6dcff6;
  color: #005da3;
  overflow: hidden;
}

.footer .container {
  width: 100%;
}

.footer__bottom {
  overflow: hidden;
  position: relative;
}

.footer__menu {
  width: 50%;
  margin: 110px 0 60px auto;
}

.footer__panel {
  width: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  padding-bottom: 25px;
}

@media (min-width: 1400px) {
  .footer__panel {
    font-size: 18px;
  }
}

.footer__logo {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 40px -65px -30px;
  display: block;
  padding: 20px;
  flex-shrink: 0;
}

@media (min-width: 1400px) {
  .footer__logo {
    width: 184px;
    height: 184px;
    padding: 30px;
  }
}

.social {
  display: flex;
}

.social__link {
  margin-right: 20px;
  display: block;
}

.copyright {
  font-size: 12px;
}

@media (min-width: 1400px) {
  .copyright {
    font-size: 18px;
  }
}

.author {
  font-size: 12px;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

@media (min-width: 1400px) {
  .author {
    font-size: 14px;
  }
}

.author__icon {
  margin-left: 10px;
  width: 70px;
}

@media (min-width: 1400px) {
  .author__icon {
    margin-left: 20px;
  }
}

.author__icon svg {
  max-width: 100%;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.video__wrap {
  width: 100%;
  padding-top: 62%;
  position: relative;
}

.video__wrap_last {
  left: -10%;
  width: 110%;
}

.video__wrap_last:last-child {
  margin-bottom: -47%;
}

.scrollDown {
  position: fixed;
  bottom: 8%;
  left: calc(7.3vw + 60px);
  z-index: 999999;
  width: 57px;
  height: 57px;
  padding: 0;
}
